.wrapper {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  position: relative;
  flex-flow: column;
  align-items: center;
}

/*.background-image {*/
/*  position: fixed;*/
/*  left: 0;*/
/*  right: 0;*/
/*  height: 100vh;*/
/*  display: block;*/
/*  !*background-image: url('../../resources/purple_sunset-wallpaper-2880x1800.png');*!*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  background: url('../../resources/purple_sunset-wallpaper-2880x1800.png') no-repeat center center fixed;*/
/*  -webkit-background-size: cover;*/
/*  -moz-background-size: cover;*/
/*  -o-background-size: cover;*/
/*  background-size: cover;*/
/*  -webkit-filter: blur(10px);*/
/*  -moz-filter: blur(10px);*/
/*  -o-filter: blur(10px);*/
/*  -ms-filter: blur(10px);*/
/*  filter: blur(10px);*/
/*  z-index: -1;*/
/*  transform: scale(1.1);*/
/*}*/


.padding {
  padding: 2.3rem;
}

.App {
  width: 626px;
  height: 434px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  color: #999999;
  z-index: 99;
}

.blur {
  position: absolute;
  background: url('../../resources/purple_sunset-wallpaper-2880x1800.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  width: 626px;
  height: 434px;
  /*border: 25px solid black;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*right: -50px;*/
  /*bottom: -50px;*/
  filter: blur(10px);
  /*transform: scale(1.1);*/
}

.App-logo {
  height: 40vmin;
}

.App-header {
  /*background-color: #282c34;*/
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.return a:visited {
  /*color: #EBE2EA;*/

}
.return {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
}

.clip-circle {
  position: absolute;
  top: -50px;
  clip-path: circle(60px at center);
}