.wrapper {
  position: relative;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.container {
  display: -webkit-box;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column;
  -webkit-box-align: center;
  align-items: center;
}

.padding {
  padding: 3rem;
}

.App {
  width: 626px;
  height: 434px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  color: #999999;
  z-index: 99;
}

.blur {
  position: absolute;
  background: url('../../resources/purple_sunset-wallpaper-2880x1800.png') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  width: 626px;
  height: 434px;
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

.App-logo {
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.return {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.arrow {
  padding-right: .6rem;
}
